<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Accounts</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<link  rel="stylesheet" type="text/css" href="css/common.css"/>
<body>
	<nav class="navbar navbar-default">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<a class="navbar-brand" href="#">New Book</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a href="/users">All Accounts</a></li>
					<li><a href="/createUser">Create user</a></li>
					<li><a href="/books">Books</a></li>
					<li><a href="/addBook">Add Book</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<form action="#" th:action="@{/addBook}" th:object="${bookDto}"
					method="post">
					<!-- 					<div class="alert alert-danger" id="errorMessage"></div> -->
					<div class="form-group">
						<label>ISBN</label> <input name="isbn" type="text" maxlength="15"
							th:field="*{isbn}" class="form-control"
							placeholder="ISBN" required="required" />
					</div>
					<div class="form-group">

						<label>Name</label> <input name="name" type="text" maxlength="150"
							th:field="*{name}" class="form-control"
							placeholder="Name" required="required" />
					</div>
					<div class="form-group">
						<label>Author</label> <input name="author" type="text" maxlength="150"
							th:field="*{author}" class="form-control" placeholder="Author"
							required="required" />
					</div>
					<div class="form-group">
						<label>Year</label> <input name="year" type="date"
							th:field="*{year}" class="form-control"
							placeholder="Birthdate" required="required" />
					</div>
					
					<div class="form-group">
						<label>Quantity</label> <input name="quantity" type="text" maxlength="11"
							th:field="*{quantity}" class="form-control"
							placeholder="Quantity" required="required" />
					</div>
					
					<button type="submit" class="btn btn-success" id="createUser">Submit</button>
					<a class="btn btn-primary" href="/users">Cancel</a>
				</form>
			</div>
		</div>
	</div>
</body>
</html>